@model shariqFaizan.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.unit_in_stock, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.unit_in_stock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.unit_in_stock, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        @Html.EditorFor(model => model.path, new { htmlAttributes = new { @class = "form-control" } })
        @Html.EditorFor(model => model.picture, new { htmlAttributes = new { @class = "form-control" } })

        @Html.ValidationMessageFor(model => model.path, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        <img src="@Url.Content(Model.path)" width="250" height="250" />

        @*@Html.LabelFor(model => model.picture, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
           
            <label for="exampleInputFile">Upload Photo</label>


            <input type="file" id="InputFile" name="ImageFile" value="@Url.Content(@Model.path)">



            @Html.EditorFor(model => model.picture, new { htmlAttributes = new { @class = "form-control" }})
            @Html.ValidationMessageFor(model => model.picture, "", new { @class = "text-danger" })
        </div>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.c_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.c_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.c_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
